.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
   
    box-sizing: border-box;
  }
  
  .signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    max-width: 600px;
    flex: 1;
    min-width: 400px;
 
    box-sizing: border-box;
    width: 100%;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .loginHeader {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  

  